html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url("../public/bg.png");
  background-size: cover;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
}
